.panel  {
    margin-top:5px;
    margin-bottom:5px;
}
.anime-btn  {
    margin-bottom:5px;
}
hr  {
    margin-top:8px;
    margin-bottom:8px;
}
.episode-btn {
    border-radius: 5px;
}
.col-xs-3 {
    padding-right: 5px;
    padding-left: 5px;
}